
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    match /businesses/{businessId} {
      allow read, write: if isOwner(businessId);

      match /clients/{clientId} {
        allow list, get: if isOwner(businessId);
        allow create, update, delete: if isOwner(businessId);
      }

      match /invoices/{invoiceId} {
        allow list, get: if isOwner(businessId);
        allow create, update, delete: if isOwner(businessId);
      }

      match /tasks/{taskId} {
        allow list, get: if isOwner(businessId);
        allow create, update, delete: if isOwner(businessId);
      }

      match /inventory/{itemId} {
        allow list, get: if isOwner(businessId);
        allow create, update, delete: if isOwner(businessId);
      }
      
      match /settings/{settingId} {
         allow get, list: if isOwner(businessId);
         allow create, update, delete: if isOwner(businessId);
      }
    }
  }
}
