@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 231 60% 94%;
    --foreground: 232 41% 28%;
    --card: 231 60% 99%;
    --card-foreground: 232 41% 28%;
    --popover: 231 60% 99%;
    --popover-foreground: 232 41% 28%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 231 50% 90%;
    --secondary-foreground: 231 48% 48%;
    --muted: 231 50% 90%;
    --muted-foreground: 232 20% 55%;
    --accent: 262 52% 58%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 40% 88%;
    --input: 231 40% 88%;
    --ring: 231 48% 48%;
    --radius: 0.5rem;
    --chart-1: 231 48% 48%;
    --chart-2: 262 52% 58%;
    --chart-3: 231 40% 70%;
    --chart-4: 262 40% 70%;
    --chart-5: 231 30% 60%;
    --sidebar-background: 232 41% 20%;
    --sidebar-foreground: 231 60% 94%;
    --sidebar-primary: 231 48% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 232 41% 28%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 232 41% 28%;
    --sidebar-ring: 262 52% 58%;
  }

  .dark {
    --background: 232 41% 15%;
    --foreground: 231 60% 94%;
    --card: 232 41% 20%;
    --card-foreground: 231 60% 94%;
    --popover: 232 41% 15%;
    --popover-foreground: 231 60% 94%;
    --primary: 231 48% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 232 41% 25%;
    --secondary-foreground: 231 60% 94%;
    --muted: 232 41% 25%;
    --muted-foreground: 231 20% 75%;
    --accent: 262 52% 68%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 232 41% 28%;
    --input: 232 41% 28%;
    --ring: 231 48% 58%;
    --chart-1: 231 48% 58%;
    --chart-2: 262 52% 68%;
    --chart-3: 231 40% 70%;
    --chart-4: 262 40% 70%;
    --chart-5: 231 30% 60%;
    --sidebar-background: 232 41% 10%;
    --sidebar-foreground: 231 60% 94%;
    --sidebar-primary: 231 48% 58%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 232 41% 20%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 232 41% 20%;
    --sidebar-ring: 262 52% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
